<div id="target"></div>


<RenderInTarget @id="target">
  within the application template
</RenderInTarget>

<RenderInTarget @id="body-child-target">
  rendering outside of the application template
</RenderInTarget>
